ELASTIC_VERSION=9.4.0
ELASTIC_CONTAINER_NAME=sherpaticket_elasticsearch
ELASTIC_NODE_NAME=sherpaticket-es01
ELASTIC_CLUSTER_NAME=sherpaticket-cluster

ELASTIC_HTTP_PORT=9200
ELASTIC_TRANSPORT_PORT=9300

ELASTIC_USERNAME=elastic
ELASTIC_PASSWORD=_CHANGE_ME_TO_SECURE_PWD_

ES_JAVA_OPTS=-Xms1g -Xmx1g